@import '../../styles/variables'

.main-page
    display: flex
    justify-content: space-between
    
    .main-page-description
        color: $color-white
        width: 400px

        h5
            font-family: $head-5-font
            font-size: $head-5-size

        h1
            font-family: $head-1-font
            font-size: $head-1-size

        p
            font-family: $head-5-font
            line-height: 32px

    img
        width: 274px
        height: 274px
