@import '../../styles/variables'


header 
    align-items: center
    display: flex
    height: 96px
    justify-content: space-between
    margin: 40px 0 0 55px
    font-family: $head-5-font
    color: $font-color-white

    img
        height: 48px
        object-fit: contain
    
    ul
        list-style: none
        padding: 0
        width: 540px
        padding: 39px 167px 38px 123px
        display: flex
        justify-content: space-between
        background: #ffffff0a
        backdrop-filter: blur(4px)


    li
        display: inline-block
        font-size: 16px
    
    span
        font-size: 16px
        font-weight: 700
        margin-right: 11px
    
    hr
        border: none
        background: #97979748
        height: 1px
        width: 40%
        z-index: 1
        transform: translateX(20%)
        

