@import './styles/variables'

.App
    height: 100vh
    background-image: url('./images/homepage-background.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    overflow-y: hidden

a
    text-decoration: none
    color: $color-white

p
    font-family: $head-5-font
    font-size: 18px
    line-height: 32px
    margin: 0
    letter-spacing: 2px
